sentence-transformers==2.2.2  # itsopen source embedding model,it use  transformer library(hugging face )
langchain
flask
pypdf
python-dotenv
pinecone[grpc]
langchain-pinecone
langchain_community
langchain_openai
langchain_experimental
-e .